body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(8, 8, 8, 0.126);
}
canvas {
    border: 1px solid black; 
}